################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SegNet-Tutorial-master/Example_Models/segnet_weights_driving_webdemo.caffemodel
*.pyc
